.wrapper {
	@apply bg-black flex justify-center;
}

.main_container {
	@apply max-w-[1210px] w-full bg-black z-[5]
	max-tabl:fixed max-tabl:top-0;
}

.container {
	@apply w-full h-[90px] my-0 mx-auto py-0 px-[20px] flex items-center justify-between relative max-notebook:h-[90px]
	max-tabl:h-[61px];
}

.logo_container {
	@apply flex max-tablet:w-full;
}

.logo_wrapp {
	@apply z-[30] w-[88px] 
	 max-notebook:absolute max-notebook:m-auto max-notebook:left-0 max-notebook:right-0 max-notebook:top-2
	  max-tabl:w-[65px] max-tabl:my-auto max-tabl:ml-16;
}

.logo_img {
	@apply h-[75px] flex self-center 
	max-tabl:w-[50px] max-tabl:h-[50px];
}

.menu_nav_container {
	@apply ml-[20px] w-full pt-[10px] flex flex-col h-full items-start justify-end max-notebook:flex-row max-notebook:items-center max-notebook:z-40;
}

.header_nav_container {
	@apply flex items-center justify-between my-0 mx-[15px] max-notebook:hidden;
}

.header_nav_container_category {
	@apply overflow-hidden pt-[10px] max-w-[1062px];
}

.header_nav_container_fullW {
	@apply w-full;
}

.header_nav_up_top_link {
	@apply mr-[50px] z-[3] h-[25px] mb-[7px] pt-[4px];
}

.header_nav_up_top_link span {
	@apply text-white cursor-pointer uppercase font-medium font-sans text-[12px] tracking-[1.2px];
}

.active {
	@apply border-b-[3px];
}

.icon_button_container {
	@apply flex items-center justify-between flex-row mb-[2px] ml-auto  mr-[20px] z-[3];
}

.icon_button {
	@apply relative mr-[25px];
}

.nav_link {
	@apply z-[4] h-[46px] flex justify-center items-center py-0 px-[17px] bg-black;
}

.nav_link_dropdown {
	@apply hover:bg-white;
}

.nav_link:first-child {
	@apply pl-0;
}

.nav_link_span {
	@apply text-[13px] tracking-[1.1px] font-normal whitespace-nowrap cursor-pointer pb-[5px] text-white hover:border-b-2;
}

.nav_link_dropdown:hover .nav_link_span_dropdowns_hover {
	@apply border-b-black text-black;
}

.nav_link:hover .drop_wrapper {
	@apply visible opacity-100;
}

.nav_link:hover .drop_container {
	@apply block;
}

.nav_link_discount {
	@apply font-medium text-red-600;
}

.nav_link_news {
	@apply font-medium text-lime-500;
}

.drop_wrapper {
	@apply z-[3] w-full top-0 left-0 absolute invisible opacity-0;
}

.drop_container {
	@apply absolute top-[90px] left-0 w-full bg-white z-[2] min-h-[300px];
}

.drop_categories {
	@apply pt-[60px] pb-[35px] w-[810px] m-auto columns-3 transition-all;
}

.drop_category {
	@apply w-[190px] pb-[35px] mr-auto inline-block;
}

.drop_title {
	@apply font-bold uppercase block tracking-[1px] w-fit hover:border-b-[2px] border-black hover:-mb-[2px] text-[14px];
}

.drop_subCategorys {
	@apply mt-[20px];
}

.drop_subtitles_container {
	@apply mb-[20px] w-fit;
}

.drop_link_subtitle {
	@apply text-[11px] uppercase block tracking-[1px] text-stone-600 pb-[1px] hover:border-b-[1px] border-black hover:-mb-[1px];
}

.showOnMobile {
	@apply notebook:hidden tabl:ml-auto flex items-center justify-start;
}

.hamburger_slider .hamburger_inner {
	@apply top-[2px];
}

.hamburger {
	@apply z-[4] py-[15px] pr-[15px] pl-0 inline-block cursor-pointer transition-all bg-transparent border-0
 notebook:hidden;
}

.hamburger_box {
	@apply w-[16px] h-[14px] inline-block relative;
}

.hamburger_inner {
	@apply block top-1/2 -mt-[2px] w-[16px] h-[2px] bg-white absolute transition-all  
	before:top-[6px]  before:transition-all  before:block  before:w-[16px]  before:h-[2px]  before:bg-white  before:absolute
	after:top-[12px]	after:-bottom-[10px]	after:block	after:w-[16px]	after:h-[2px]	after:bg-white	after:absolute	after:transition-all;
}

.header_phones_container {
	@apply flex items-center mr-[15px] relative z-[10] min-w-[17px];
}

.header__icon_button {
	@apply max-lapt:mr-[15px] relative mr-[25px] min-w-[20px];
}

.side_bar {
	@apply absolute -left-[9999px];
}

.side_bar__active {
	@apply absolute left-0 w-full z-[20] h-screen transition-all duration-300
	max-tablet:fixed max-tablet:top-[61px] 
	notebook:max-w-[370px] max-notebook:top-[90px] max-notebook:fixed;
}

.side_bar__container {
	@apply h-full flex transform my-0 mx-auto max-w-[1210px] transition-transform duration-300;
}

.side_bar__links {
	@apply border-t-[1px] border-r-neutral-500 w-[370px] min-w-[370px] h-[calc(100%-61px)] pt-[20px] px-0 pb-[15px] overflow-y-auto scroll-smooth bg-black flex flex-col justify-between;
}

.cart__quantity {
	@apply absolute bg-white text-black rounded-2xl w-[16px] h-[16px] font-medium text-[11px] -top-[5px] -right-[15px] flex items-center justify-center;
}
